{{ asset_add("scripts.js", "asset::editor-field_type/ace.js") }}
{{ asset_add("scripts.js", "asset::editor-field_type/mode-" ~ field_type.config.mode ~ ".js") }}
{{ asset_add("scripts.js", "anomaly.field_type.editor::js/jquery-ace.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.editor::js/dropzone.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.editor::js/isotope.pkgd.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.editor::js/input.js") }}

{{ asset_add("styles.css", "anomaly.field_type.editor::css/dropzone.min.css") }}
{{ asset_add("styles.css", "anomaly.field_type.editor::css/basic.min.css") }}
{{ asset_add("styles.css", "anomaly.field_type.editor::less/input.less") }}

<div class="editor">

    <a href="#" data-toggle="fullscreen">{{ icon('expand') }}</a>

    <textarea
            class="{{ field_type.class }}"
            name="{{ field_type.input_name }}"
            data-mode="{{ field_type.config.mode }}"
            data-theme="{{ field_type.config.theme }}"
            data-word-wrap="{{ field_type.config.word_wrap }}"
            style="width: 100%; height: {{ field_type.config.height }}px;"
            {{ html_attributes(field_type.attributes) }}
            {{ field_type.disabled ? 'disabled' }}
            {{ field_type.readonly ? 'readonly' }}>{{ field_type.value }}</textarea>

</div>

<div class="droppedFilesFilters"></div>

<div class="droppedFilesContainer"></div>

<div id="preview-template" style="display: none;">
    <div class="dz-preview dz-file-preview">
      <div class="inner">

          <div class="dz-details">
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-size" data-dz-size></div>
            <img data-dz-thumbnail />
          </div>
          <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
          <div class="dz-success-mark"><span>✔</span></div>
          <div class="dz-error-mark"><span>✘</span></div>
          <div class="dz-error-message"><span data-dz-errormessage></span></div>

      </div>
    </div>
</div>

{% if config('app.debug') and field_type.storage_path %}
    <small class="text-muted hidden-md">
        {{ field_type.storage_path }}
    </small>
{% endif %}
