{% set modes = config_get('anomaly.field_type.editor::editor.modes') %}
{% set themes = config_get('anomaly.field_type.editor::editor.themes') %}

{{ asset_add('styles.css', 'anomaly.field_type.editor::js/lib/codemirror.css') }}
{{ asset_add('styles.css', 'anomaly.field_type.editor::js/addon/dialog/dialog.css') }}
{{ asset_add('styles.css', 'anomaly.field_type.editor::js/addon/display/fullscreen.css') }}
{{ asset_add('styles.css', 'anomaly.field_type.editor::js/addon/hint/show-hint.css') }}
{{ asset_add('styles.css', 'anomaly.field_type.editor::js/addon/lint/lint.css') }}
{{ asset_add('styles.css', 'anomaly.field_type.editor::js/theme/isotope.css') }}

{% for theme in themes %}
    {{ asset_add('styles.css', 'anomaly.field_type.editor::js/theme/'~theme~'.css') }}
{% endfor %}

{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/lib/codemirror.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/emmet.js') }}

{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/edit/closebrackets.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/edit/matchbrackets.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/comment/comment.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/wrap/hardwrap.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/selection/active-line.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/display/fullscreen.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/mode/overlay.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/dialog/dialog.js') }}

{{ asset_add('scripts.js', '//ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js') }}
{{ asset_add('scripts.js', 'https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js') }}
{{ asset_add('scripts.js', 'http://csslint.net/js/csslint.js') }}

{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/hint/show-hint.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/hint/anyword-hint.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/hint/xml-hint.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/hint/html-hint.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/hint/javascript-hint.js') }}

{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/lint/lint.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/lint/javascript-lint.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/lint/json-lint.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/lint/css-lint.js') }}

{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/scroll/annotatescrollbar.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/search/matchesonscrollbar.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/search/search.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/search/searchcursor.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/addon/search/match-highlighter.js') }}

{% for index,mode in modes %}
    {{ asset_add('scripts.js', 'anomaly.field_type.editor::js/mode/'~index~'/'~index~'.js') }}
{% endfor %}

{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/keymap/sublime.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.editor::js/input.js') }}

<div class="codemirror">

    <a href="#" class="fullscreen">{{ icon('expand') }}</a>

    <select class="code-mode-changer">
        {% for index,mode in modes %}
            <option value="{{ index }}"
                {% if field_type.config.mode == index %}
                    selected="selected"
                {% endif %}
            >{{ mode.name }}</option>
        {% endfor %}
    </select>

    <select class="code-theme-changer">
        {% for theme in themes %}
            <option
                {% if field_type.config.theme == index %}
                    selected="selected"
                {% endif %}
            >{{ theme }}</option>
        {% endfor %}
    </select>

    <textarea
            class="{{ field_type.class }}"
            name="{{ field_type.input_name }}"
            {% for key,value in field_type.config %}
                data-{{ key }}="{{ value }}"
            {% endfor %}
            {{ html_attributes(field_type.attributes) }}
            {{ field_type.disabled ? 'disabled' }}
            {{ field_type.readonly ? 'readonly' }}>{{ field_type.value }}</textarea>

</div>

{% if config('app.debug') and field_type.storage_path %}
    <small class="text-muted hidden-md">
        {{ field_type.storage_path }}
    </small>
{% endif %}
